{% extends "index.html" %}
{% block content %}
    <h1>Create Course</h1>
        <div class="form-container">
        <form action="{{ url_for('createCourse') }}" method="POST">
            <input type="text" name="name" placeholder="Course Name" required><br>
            <input type="text" name="teacher_id" placeholder="Teacher ID" required><br>
            <input type="text" name="description" placeholder="Course Description"><br>
            <button type="submit">Create Course</button>
        </form>
    </div>
{% endblock %}
